/* BookList.css */
.book-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-list-item {
    background-color: #edecec;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    color: #A92929;
}

.book-actions {
    display: flex;
    gap: 5px;
}

.book-actions button {
    background-color: #A92929;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.book-actions button:hover {
    background-color: #691919;
}

.book-actions button:disabled {
    background-color: #ccc; /* Disabled button color */
    cursor: not-allowed;
}
