.container-fluid{  
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width:  100%;

  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 100%;
    
    
    .left-nav{
      display: flex;
      align-items: center;
      justify-content: center;
      
      height: 72px;
      padding-right: 50px;
    }
    
    .center-nav{
      display: flex;
      justify-content: center;
      padding-right: 50px;
      height: 72px;
      
      
      .nav{
        display: flex;
        align-items: center;
        gap: 50px;
        
        a:hover {
         color: #d36344;
         text-decoration: underline;   
       }

      .nav-link{
      text-decoration: none;
      color: #5a2a1d;  
      }
    }
  }

  .right-nav{
    display: flex;
    justify-content: space-between;

    gap: 100px;
    height: 72px;

   .nav{
    display: flex;
    align-items: center;
    gap: 50px;
    

    .nav-link{
      color: #5a2a1d;
      
      :hover{
        color: #d36344;
      }
    }
   }
  }
}


}