.container-fluid {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  margin-top: auto;
  margin-top: 20px;;
}
.center-nav{
  font-size: 20px;
}
.center-nav,
.left-nav,
.right-nav {
  display: flex;
  align-content: center;
  justify-content: center;

  a.nav-link {
    color: black;
  }
  a:hover {
    color: #d36344;
  }
}
